* {
    margin:0px;
    padding: 0px;
    font-family:arial, sans-serif;
}
html, body{width:100%;height: 100%;}

button{
    background: #fff;
    border: solid #000 1px;
    padding: 2px 5px;
    margin: 8px 0px;
    font-family:微软雅黑;
    font-size: 20px;
    outline:none;
}

button:hover{
    //background:#3C7FFF;
    background:#000;
    color:#fff;
}
.header {
    width: 100%;
    height: 50px;
    border-bottom: solid #000 1px;
    font-size: 24px;
    float: left;
    min-width:1200px;
    position: fixed;
    z-index:10;
    background:#fff;
}

.logo {
    padding: 10px 30px 10px 30px;
    width: 15%;
    font-weight: bold;
    float:left;
}

.nav_list {
    width: 50%;
    position: relative; 
    float: left;
    height: 50px;
}

.nav_list a {
    position: relative;
    float: left;
    padding: 0px 20px 0px 20px;
    text-align: center;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    color: #000;
}

.nav_list a:hover {
    background: #000;
    color: #fff;
}

.search {
    width: 30%;
    height: 50px;
    line-height: 50px;
    float: left;
}

.search .sbox {
    float: left;
    height:30px;
    width: 200px;
    border: solid #000 1px;
    padding: 2px 5px;
    margin: 8px 0px;
    font-family:微软雅黑;
    font-size: 20px;
}

.search .sbox:focus {
    float: left;
    outline: none;
    background: #000;
    color: #fff;
}

.img_search {
    float: left;
    width: 26px;
    border: solid #000 1px;
    padding: 4px 8px;
    margin: 8px 20px;
}

.container {
    width:900px; 
    padding: 75px 0px 50px 0px;
    margin: 0px auto; 
}

.left {
    float: left;
    width: 70%;
    min-width: 400px;
    min-height:300px;
}

.right {
    float: right;
    width: 28%;
    min-width:100px;
    min-height:300px;
    background: #3C7FFF;
}

.operation {
    margin: auto;
}


.list {
    margin: auto;
    padding: auto;
    background:#fff;
}

.item {
    border: solid #000 1px;
    margin: 0px auto 10px auto;
    height: 50px;
}
.state {
    width:40px;  
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 10px 5px 10px 10px;
    border-right: solid #000 5px;
    float: left;
}
.item-content {
    float: left;
    width: 50%;
    padding: 10px;
    height: 30px;
    line-height: 30px;
} 
.item-date {
    float: right;
    padding: 10px;
    height: 30px;
    line-height: 30px;
}
